body {
    /* background-color: #313131; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background: url("./intersection-blured.png");
}
a, input, button{
    color: inherit;
    text-decoration: none;
    border: none;
    outline: 0;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}
.form-line {
    display: flex;
    flex-direction: row;
    line-height: 30px;
    margin-bottom: 20px;
}

.form-line-text {
    width: 40vw;
    font-size: 17px;
    color: #00d8ff;
}

.form-line-input {
    border: 2px solid #00d8ff;
    border-radius: 15px;
    padding: 4px;
    font-size: 16px;
    background-color: #313131;
    padding-left: 10px;
    color: white;
}

.button-primary {
    margin-top: 10px;
    border: 4px solid #00d8ff;
    border-radius: 15px; 
    background-color: black;
    font-size: 30px;
    color: #00d8ff;
}

.button-primary:hover {
    background-color: #00d8ff;
    color: #313131;
    border: 4px solid black;
}

.button-secondary {
    /* background-color: #00d8ff; */
    color: white;
    border: 2px solid white;
    border-radius: 15px;
    padding: 4px;
    margin-top: 12px;
}

.button-secondary:hover {
    background-color: white;
    color: #313131;
    border: 2px solid black;
}

.results {
    margin-top: 5vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
}
.result {
    border: 2px solid #00d8ff;
    border-radius: 20px;
    padding: 12px;
    width: 70%;
    margin-bottom: 20px;
}

.form-title {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 12px;
}

.intro {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.intro-title {
    color: #00d8ff;
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: bold;
}
.intro-description {
    text-align: center;
    color: white;
    font-size: 20px;
    margin-top: 20px;
    width: 40%;
    height: 20vh;
}

.simulation {
    height: 100vh;
    padding-top: 30px;
}