.slider {
    border-radius: 5px;
    background: #E0E0E0;
    background: -moz-linear-gradient(left top, #E0E0E0, #EEEEEE) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, right bottom, from(#E0E0E0), to(#EEEEEE));
    background: linear-gradient(left top, #E0E0E0, #EEEEEE);
    width: 15px;
    height: 310px;
}

.thumb {
    width: 25px;
    height: 10px;
    border-radius: 3px;
    position: relative;
    right: 5px;
    top: 70px;
    background: blue;
    cursor: pointer;
}

.video_overlays {
    position: fixed;
    left: 20px;
    top: 20px;
    width: 100%;
    text-align: center;
    z-index: 1;
    color: grey;
}