.video_overlays {
    position: fixed;
    left: 20px;
    top: 20px;
    width: 100%;
    z-index: 1;
}

.slider-wrapper {
    display: inline-block;
    width: 20px;
    height: 40vh;
    padding: 0;
  }

.slider-wrapper input {
    width: 40vh;
    height: 20px;
    margin: 0;
    transform-origin: 20vh 20vh;
    transform: rotate(-90deg);
  }